<template>
  <div>
    <div v-if="loading">
      <CategoriesSkeliton v-for="i in [1, 2, 3, 4]" :key="i" />
    </div>
    <q-list>
      <q-item
        clickable
        v-ripple
        v-for="(category, index) in categories"
        :key="index"
        @click="loadPostsByCat(category.slug)"
      >
        <q-item-section>
          <q-item-label class="text-subtitle1 text-weight-bold">{{
            category.name
          }}</q-item-label>
        </q-item-section>
        <q-item-section side>
          <q-badge
            class="q-ml-sm"
            color="primary"
            text-color="white"
            :label="category.post_count"
          />
        </q-item-section>
      </q-item>
    </q-list>
    <q-banner
      class="bg-primary text-white q-mb-md q-mt-md"
      v-if="categories.length === 0 && !loading"
    >
      No categories found to display
      <template v-slot:action>
        <q-btn flat color="white" @click="loadCategories()" label="Retry" />
      </template>
    </q-banner>
  </div>
</template>

<script>
import CategoriesSkeliton from 'components/skeliton/Categories.vue'

import { mapState } from 'vuex'

export default {
  name: 'Categories',
  components: {
    CategoriesSkeliton
  },
  computed: mapState({
    categories: state => state.post.categories,
    loading: state => state.post.catLoading
  }),
  methods: {
    loadPostsByCat (slug) {
      this.$router.push(`/categories-view/${slug}`)
    },
    loadCategories () {
      this.$store.dispatch('post/GET_CATEGORIES')
    }
  }
}
</script>
