<template>
  <q-card class="post-card flat q-mb-xl" @click="navigateToPDP()">
    <q-img :src="prepareImageUrl()" />

    <q-card-section>
      <q-btn
        v-if="!isDetailsView"
        fab
        color="primary"
        icon="arrow_right_alt"
        class="absolute"
        style="top: 0; right: 12px; transform: translateY(-50%);"
        :to="prepareUrl()"
      >
        <q-tooltip>
          Read the full article
        </q-tooltip>
      </q-btn>

      <div class="row no-wrap items-center">
        <div class="col text-h5 ellipsis" v-html="post.title">
        </div>
      </div>
    </q-card-section>

    <q-card-section class="q-pt-none">
      <div class="text-subtitle2 flex q-mb-sm items-center">
        <q-btn flat dense icon="alarm" /> {{ publishedOn() }}
        <q-btn flat dense icon="account_circle" class="q-ml-md" /> {{ post.author }}
      </div>
      <div class="text-subtitle" v-html="post.excerpt"></div>
      <div
        v-if="isDetailsView"
        class="text-subtitle q-mt-lg"
        v-html="post.content"
        style="overflow: auto;"
      ></div>
    </q-card-section>
  </q-card>
</template>

<script>
import { DATE_FORMAT } from '../utils'

export default {
  name: 'Post',
  data () {
    return {
      stars: 5
    }
  },
  props: ['post', 'isDetailsView'],
  methods: {
    prepareUrl () {
      return `/view/${this.post.id}`
    },
    publishedOn () {
      return DATE_FORMAT(this.post.date)
    },
    prepareImageUrl () {
      const img = this.post.image.split('?')[0]
      return `${img}?resize=672%2C372&ssl=1`
    },
    navigateToPDP () {
      if (!this.isDetailsView) this.$router.push(this.prepareUrl())
    }
  }
}
</script>
