<template>
  <div>
    <div v-if="loading"><TagsSkeliton /></div>
    <q-chip
      clickable
      square
      color="purple"
      text-color="white"
      v-for="(tag, index) in tags"
      :key="index"
      @click="loadPostsByTag(tag.slug)"
    >
      {{ tag.name }}
      <q-badge
        class="q-ml-sm"
        color="white"
        text-color="black"
        :label="tag.post_count"
      />
    </q-chip>

    <q-banner class="bg-primary text-white q-mb-md q-mt-md" v-if="tags.length === 0 && !loading">
      No tags found to display
      <template v-slot:action>
        <q-btn flat color="white" @click="loadTags()" label="Retry" />
      </template>
    </q-banner>
  </div>
</template>

<script>
import TagsSkeliton from 'components/skeliton/Tags.vue'

import { mapState } from 'vuex'

export default {
  name: 'Tag',
  components: {
    TagsSkeliton
  },
  computed: mapState({
    tags: state => state.post.tags,
    loading: state => state.post.tagsLoading
  }),
  methods: {
    loadPostsByTag (slug) {
      this.$router.push(`/tags-view/${slug}`)
    },
    loadTags () {
      this.$store.dispatch('post/GET_TAGS')
    }
  }
}
</script>
