<template>
  <div class="q-mb-xl">
    <q-skeleton height="220px" square animation="fade" />
    <q-skeleton type="text" square width="70%" animation="fade" />
    <div class="flex">
      <q-skeleton type="QChip" animation="fade" />
      <q-skeleton type="QChip" animation="fade" />
    </div>
    <q-skeleton type="text" square animation="fade" />
    <q-skeleton type="text" square animation="fade" />
    <q-skeleton type="text" square animation="fade" />
  </div>
</template>

<script>
export default {
  name: 'PostSkeliton'
}
</script>
