<template>
  <div class="q-mb-xl">
    <div class="flex">
      <q-skeleton
        v-for="i in [1, 2, 3, 4, 5, 6, 7, 8]"
        :key="i"
        type="QChip"
        animation="fade"
        class="q-mb-sm q-mr-sm"
      />
    </div>
  </div>
</template>

<script>
export default {
  name: 'TagsSkeliton'
}
</script>
