<template>
  <footer class="site-footer">
    <div class="container">
      <div class="row q-col-gutter-md">
        <div class="col-sm-12 col-md-6">
          <h6>About</h6>
          <p class="text-justify">
           Developers building applications on Flutter can start using Truecaller SDK in their applications by including our Flutter package (written in dart language) here. Developers can also refer to our publicly available sample project. This contains an implementation guide on how to get started.
          </p>
        </div>

        <div class="col-xs-6 col-md-3 text-right">
          <h6>Categories</h6>
          <ul class="footer-links">
            <li><a href="#">Footer Link 1</a></li>
            <li>
              <a href="#"
                >Footer Link 2</a
              >
            </li>
            <li>
              <a href="#"
                >Footer Link 3</a
              >
            </li>
            <li>
              <a href="#"
                >Footer Link 4</a
              >
            </li>
            <li>
              <a href="#">Footer Link 5</a>
            </li>
            <li>
              <a href="#">Footer Link 6</a>
            </li>
          </ul>
        </div>

        <div class="col-xs-6 col-md-3 text-right">
          <h6>Quick Links</h6>
          <ul class="footer-links">
            <li><a href="#">About Us</a></li>
            <li><a href="#">Contact Us</a></li>
            <li>
              <a href="#"
                >Careers</a
              >
            </li>
            <li>
              <a href="#">Privacy Policy</a>
            </li>
            <li><a href="#">Support</a></li>
          </ul>
        </div>
      </div>
      <hr />
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">
            Copyright &copy; 2017 All Rights Reserved by
            <a href="#">truecaller</a>.
          </p>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <ul class="social-icons">
            <li>
              <a class="facebook" href="#"><i class="fa fa-facebook"></i></a>
            </li>
            <li>
              <a class="twitter" href="#"><i class="fa fa-twitter"></i></a>
            </li>
            <li>
              <a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a>
            </li>
            <li>
              <a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
</template>

<script>
export default {
  name: 'appHeader',
  data () {
    return {}
  },
  methods: {}
}
</script>

<style></style>
