<template>
  <div id="HEADER">
    <q-toolbar class="bg-primary text-white">
       <q-toolbar-title>
        <img src="~assets/images/logo.png" @click="$router.push('/')">
      </q-toolbar-title>

      <q-space />

      <q-input dark dense standout v-model="text" input-class="text-left" class="q-ml-md gt-xs">
        <template v-slot:append>
          <q-icon v-if="text === ''" name="search" />
          <q-icon v-else name="clear" class="cursor-pointer" @click="text = ''" />
        </template>
      </q-input>
      <q-btn flat round dense icon="search" class="mobile-only" />
    </q-toolbar>
  </div>
</template>

<script>
export default {
  name: 'appHeader',
  data () {
    return {
      text: ''
    }
  },
  methods: {}
}
</script>

<style></style>
