body {
  font-size: $defaultFont;
  color: $black;
  font-weight: 400;
  font-family: 'Lato', sans-serif, Arial, Helvetica;
  background: $white;

  @media $tab {
    font-size: 13px;
  }

  @media $mobile {
    ont-size: 14px;
  }

  .layout-content {
    padding-top: 70px;

    .q-page-container {
      padding: 2em 5em;

      @media $tab {
        padding: 1em 1em;
      }

      @media $mobile {
        padding: 0.5em;
      }
    }
  }

  .primary-header {
    font-weight: 600;
    font-size: 1rem;
    line-height: 2rem;
    letter-spacing: 0.0125em;
    text-transform: uppercase;
  }

  .items-center {
    align-items: center
  }

  .post-card {
    box-shadow: none;
    cursor: pointer;
  
    &:hover {
      box-shadow: 0 2px 5px rgba(0,0,0,.1), 0 1px 2px rgba(0,0,0,.05);  
    }
  }

  .active-item {
    font-style: italic;
    color: $primary;
    font-size: 1.3rem;
    padding-left: 0.5em;
  }
}
