#HEADER {
	.q-toolbar {
		height: 70px;
		padding: 0 40px;
		width: 100%;
    position: fixed;
    z-index: 9;
		box-shadow: 0 2px 4px 2px rgba(0,0,0,.15);

		@media $mobile {
			height: 55px;
			padding: 0 10px;
		}
	}

	img {
		width: 140px;
		cursor: pointer;

		@media $mobile {
			width: 120px;	
		}
	}
}