<template>
  <q-layout class="">
    <div class="layout-header">
      <app-header></app-header>
    </div>
    <div class="layout-content">
      <q-page-container>
        <router-view />
      </q-page-container>
    </div>
    <div class="layout-footer">
      <app-footer></app-footer>
    </div>
  </q-layout>
</template>

<script>
import appHeader from 'components/common/header.vue'
import appFooter from 'components/common/footer.vue'

export default {
  name: 'MainLayout',
  components: {
    appHeader,
    appFooter
  },
  data () {
    return {}
  },
  mounted () {
    this.$store.dispatch('post/GET_TAGS')
    this.$store.dispatch('post/GET_CATEGORIES')
  }
}
</script>

<style>
</style>
