<template>
  <q-page>
    <div class="row q-col-gutter-xl">
      <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-xs-12">
        <!-- Post details start -->
        <div v-if="loading">
          <PostSkeliton v-for="i in [1]" :key='i' />
        </div>
        <Post
          v-if="postDetails"
          :post="postDetails"
          :isDetailsView="true" />
        <q-separator class="q-mt-md q-mb-md" />
      </div>
      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
        <!-- Tags details start -->
        <div class="primary-header q-mb-md">Popular Tags</div>
        <Tag />

        <q-separator class="q-mt-md q-mb-md" />
        <!-- Categories details start -->
        <div class="primary-header q-mb-md">Categories</div>
        <Categories />
      </div>
    </div>
  </q-page>
</template>

<script>
import Post from 'components/Post.vue'
import Tag from 'components/Tag.vue'
import Categories from 'components/Categories.vue'
import PostSkeliton from 'components/skeliton/Post.vue'

import { mapState } from 'vuex'

export default {
  name: 'Details',
  components: {
    Post,
    Tag,
    Categories,
    PostSkeliton
  },
  computed: mapState({
    postDetails: state => {
      if (Object.keys(state.post.postDetails).length > 0) {
        return state.post.postDetails
      }
    },
    loading: state => state.post.postLoading
  }),
  mounted () {
    this.$store.dispatch('post/GET_POST_BY_ID', this.$route.params.id)
  }
}
</script>
