<template>
  <q-page>
    <div class="row q-col-gutter-xl">
      <!-- Post div start -->
      <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-xs-12">
        <div class="primary-header q-mb-md">Recent Stories</div>
        <div v-if="loading">
          <PostSkeliton v-for="i in [1,2,3]" :key='i' />
        </div>
        <Post
          v-for="(post, index) in posts"
          :key="index"
          :post="post"
        />

        <div v-if="postMeta" align="center">
          <q-btn
            :loading="oldPostLoading"
            color="purple"
            @click="loadOlderPosts()"
            label="Load old posts"
            class="q-ma-xl"
          />
        </div>
      </div>
      <!-- post div end -->

      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
        <!-- Tags div start -->
        <div class="primary-header q-mb-md">Popular Tags</div>
        <Tag />
         <!-- Tags div end -->

        <q-separator class="q-mt-md q-mb-md" />

        <!-- categories div start -->
        <div class="primary-header q-mb-md">Categories</div>
        <Categories />
        <!-- categories div end -->
      </div>
    </div>
  </q-page>
</template>

<script>
import Post from 'components/Post.vue'
import Tag from 'components/Tag.vue'
import PostSkeliton from 'components/skeliton/Post.vue'
import Categories from 'components/Categories.vue'

import { mapState } from 'vuex'

export default {
  name: 'Home',
  components: {
    Post,
    Tag,
    Categories,
    PostSkeliton
  },
  computed: mapState({
    posts: state => state.post.posts,
    tags: state => state.post.tags,
    categories: state => state.post.categories,
    loading: state => state.post.postLoading,
    postMeta: state => state.post.postMeta,
    oldPostLoading: state => state.post.oldPostLoading
  }),
  mounted () {
    this.$store.dispatch('post/GET_POSTS')
  },
  methods: {
    loadOlderPosts () {
      this.$store.dispatch('post/LOAD_MORE_POSTS')
    }
  }
}
</script>
